<Config>
  <LogLevel>info</LogLevel>
  <UrlBase></UrlBase>
  <UpdateMechanism>Docker</UpdateMechanism>
  <BindAddress>*</BindAddress>
  <Port>8787</Port>
  <SslPort>6868</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>070ac7bf172f4d208bb9b0e0fe07d67a</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>nightly</Branch>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
  <InstanceName>Readarr</InstanceName>
</Config>